<ion-content ng-controller="IonicController as vm">
    <ion-list>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.refresh();"></ion-refresher>
        <ion-item ng-click="vm.openPopover($event);">popover</ion-item>
        <ion-item ng-repeat="item in vm.items">{{item}}</ion-item>
        <ion-infinite-scroll on-infinite="vm.loadMore();" distance="5%">上拉加载更多</ion-infinite-scroll>
    </ion-list>
</ion-content>

<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">My Popover Title</h1>
        </ion-header-bar>
        <ion-content>
            Hello!
        </ion-content>
    </ion-popover-view>
</script>