<div ng-controller="TopicController as vm">
    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">帖子管理</h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);">内容管理</a></li>
            <li class="active">帖子管理</li>
        </ol>
    </div>
    <!-- End Page Header -->

    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">
                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="请输入标题">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="请输入用户昵称">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control date-time-picker" placeholder="请选择发表时间" ourpalm-datetime-picker='{"timePickerIncrement":5}'>
                            </div>
                            <div class="col-md-2">
                                <select class="selectpicker show-tick form-control" ourpalm-select-picker>
                                    <option>商用</option>
                                    <option>暂停</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-success" href="javascript:void(0);">搜索</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="dropdown pull-right">
                            <button class="btn btn-light" type="button" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" data-stopPropagation="true" ng-repeat="col in vm.cols">
                                    <a href="javascript:void(0);"><label><input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show"/>{{col.title()}}</label></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body table-responsive">
                <table ng-table="vm.tableParams" class="table table-bordered table-striped table-hover" ng-table-columns-binding="vm.cols">
                    <tr ng-repeat="t in $data">
                        <td title="'帖子编号'" ng-if="true">{{t.number}}</td>
                        <td title="'标题'" ng-if="true">{{t.title}}</td>
                        <td title="'用户昵称'" ng-if="true">{{t.nickName}}</td>
                        <td title="'发表时间'" ng-if="true">{{t.postTime}}</td>
                        <td title="'回复数'" ng-if="true">{{t.replyCount}}</td>
                        <td title="'帖子地址'" ng-if="true">{{t.address}}</td>
                        <td title="'状态'" ng-if="true">{{t.status}}</td>
                        <td title="'操作'" ng-if="true">
                            <button class="btn btn-icon btn-sm btn-success" type="button" uib-tooltip="置顶" tooltip-placement="top"><i class="fa fa-hand-o-up"></i></button>
                            <button class="btn btn-icon btn-sm btn-danger" type="button" uib-tooltip="移动" tooltip-placement="top"><i class="fa fa-arrows"></i></button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <!-- End Panel -->

</div>