<div ng-controller="TopicController as vm">
    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">帖子管理</h1>
        <ol class="breadcrumb">
            <li><a href="javascript:void(0);">内容管理</a></li>
            <li class="active">帖子管理</li>
        </ol>
    </div>
    <!-- End Page Header -->

    <!-- Start Panel -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-title">

                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="请输入标题">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="请输入用户昵称">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control date-time-picker" placeholder="请选择发表时间" ourpalm-datetime-picker='{"timePickerIncrement":5}'>
                            </div>
                            <div class="col-md-2">
                                <select class="selectpicker show-tick form-control" ourpalm-select-picker>
                                    <option>商用</option>
                                    <option>暂停</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-success" href="javascript:void(0);">搜索</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button ng-click="vm.openSettingColumnModal();" class="btn btn-light btn-icon pull-right" type="button" uib-tooltip="自定义列表项" tooltip-placement="left-top"><i class="fa fa-gear"></i></button>
                        <div class="modal" ourpalm-modal>
                            <div class="modal-dialog" aria-hidden="true">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">自定义列表选项</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="checkbox_01">
                                            <label for="checkbox_01">帖子编号</label>
                                        </div>
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="checkbox_02">
                                            <label for="checkbox_02">标题</label>
                                        </div>
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="checkbox_03">
                                            <label for="checkbox_03">用户昵称</label>
                                        </div>
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="checkbox_04">
                                            <label for="checkbox_04">发表时间</label>
                                        </div>
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="checkbox_05">
                                            <label for="checkbox_05">回复数</label>
                                        </div>
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="checkbox_06">
                                            <label for="checkbox_06">帖子地址</label>
                                        </div>
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="checkbox_07">
                                            <label for="checkbox_07">状态</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-warning" type="button" ourpalm-modal-close>取消</button>
                                        <button class="btn btn-primary" type="button" ourpalm-modal-confirm>确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel-body table-responsive">

                <table id="example0" class="table display">
                    <thead>
                    <tr>
                        <th>帖子编号</th>
                        <th>标题</th>
                        <th>用户昵称</th>
                        <th>发表时间</th>
                        <th>回复数</th>
                        <th>帖子地址</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>帖子编号</th>
                        <th>标题</th>
                        <th>用户昵称</th>
                        <th>发表时间</th>
                        <th>回复数</th>
                        <th>帖子地址</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    <tr ng-repeat="t in vm.topic">
                        <td>{{::t.number}}</td>
                        <td>{{::t.title}}</td>
                        <td>{{::t.nickName}}</td>
                        <td>{{::t.postTime}}</td>
                        <td>{{::t.replyCount}}</td>
                        <td>{{::t.address}}</td>
                        <td>{{::t.status}}</td>
                        <td>
                            <button class="btn btn-icon btn-sm btn-success" type="button" uib-tooltip="置顶" tooltip-placement="top"><i class="fa fa-hand-o-up"></i></button>
                            <button class="btn btn-icon btn-sm btn-danger" type="button" uib-tooltip="移动" tooltip-placement="top"><i class="fa fa-arrows"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--<div id="grid1" ui-grid="{ data: topic }" style="height:400px"></div>-->

            </div>

        </div>
    </div>
    <!-- End Panel -->


    <script>
        $(document).ready(function () {
            $('#example0').DataTable({
                dom: 'tip'
            });
        });
    </script>
</div>